# Telegram Bot Configuration
API_ID=
API_HASH=
BOT_TOKEN=

# MongoDB Configuration
MONGO_URI=

# Bot Owner Configuration
OWNER_ID=

# Channel Configuration
REQUIRED_CHANNEL=
SOURCE_CHANNEL_IDS=
BRANDING_TAG=Uploaded By @Netflixian_Movie


