# Telegram Bot Configuration
API_ID=21936466
API_HASH=5d89c2323f79201eb440ab83ff272156
BOT_TOKEN=7511924283:AAHFTm3_bquGy858_WIrGvB46IUK15xH82w

# MongoDB Configuration
MONGO_URI=mongodb+srv://AutoFilterBot:HQHAJRDt1akQKAl6@autofilterbot.5jezsdv.mongodb.net/?retryWrites=true&w=majority&appName=AutoFilterBot
DB_NAME=AutoFilterBot

# Bot Owner Configuration
OWNER_ID=1633472140

# Channel Configuration
REQUIRED_CHANNEL=-1001557378145
SOURCE_CHANNEL_IDS=-1001860710176
BRANDING_TAG=Uploaded By @Netflixian_Movie

